<div class="posts" data-testid="blog-posts">
    {% assign all_posts = site.posts %}
    {% if site.air2016 and site.air2016.size > 0 %}
        {% assign all_posts = all_posts | concat: site.air2016 %}
    {% endif %}
    {% assign all_posts = all_posts | sort: 'date' | reverse %}
    {% assign start_index = paginator.page | minus: 1 | times: paginator.per_page %}
    {% assign end_index = start_index | plus: paginator.per_page | minus: 1 %}
    {% assign paginated_posts = all_posts | slice: start_index, paginator.per_page %}
    {% unless paginated_posts.size > 0 %}
    <article><section class="post-content"><p>There are no blog posts</p></section></article>
    {% endunless %}
    {% for post in paginated_posts %}
    <div class="post-teaser" data-testid="blog-post-teaser">
        {% if post.thumbnail %}
        <div class="post-img">
            <a aria-label="{{ post.title }}" href="{{ post.url | relative_url }}">
                <img alt="{{ post.title }}" src="{{ post.thumbnail | relative_url }}">
            </a>
        </div>
        {% endif %}
        <span>
          <header>
            <h1>
              <a aria-label="{{ post.title }}" class="post-link" data-testid="blog-post-link" href="{{ post.url | relative_url }}">
                {{ post.title }}
              </a>
            </h1>
            {% include blog/post_info.liquid author=post.author date=post.date %}
          </header>
          {% if site.excerpt or site.theme_settings.excerpt %}
              <div class="excerpt">
                  {% if site.excerpt == "truncate" %}
                     {{ post.content | strip_html | truncate: '250' | escape }}
                  {% else %}
                     {{ post.excerpt | strip_html | escape }}
                  {% endif %}
              </div>
          {% endif %}
      </span>
    </div>
    {% endfor %}
</div>

{% include blog/blog_nav.liquid %}
